.imagetext{
    z-index: 2;
    position: absolute;
    left: 70px;
    top: 50px;
    padding-left: 60px;
    padding-right: 25px;
    margin-left: -40px;
    margin-right: 10px;
    background-color: teal;
    color: white;

}

.Image{
    z-index: 1;

}

@media screen and  (min-width: 980px)  {
.Imagecontainer{
    margin-left: 10px;
    margin-bottom: 15px;
}

.midsection{
    width: 50% !important;
}


.imagetext{
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 60px;
    top: 70px;
    padding-left: 20px;
    padding-right: 22px;
    padding-top:10px ;
    padding-bottom:10px;
    margin-left: 40px;
    margin-right: 10px;

    background-color: teal;
    color: white;

}

.Image{
   margin-left: 80px;

}

}

@media screen and  (max-width: 768px)  {

   .imagetext{
       text-align: center;
    z-index: 2;
    position: absolute;
    left: 40px;
    top: 100px;
    padding-left: 40px;
    padding-right: 46px;
    padding-top:10px ;
    padding-bottom:10px;
    margin-left: 40px;
    margin-right: 10px;

    background-color: teal;
    color: white;


}

.aside{
    padding:10px;
}

.Image{
   margin-left: 60px;
   margin-bottom: 20px;

}
}


@media screen and  (max-width: 640px)  {

   .imagetext{
       text-align: center;
    z-index: 2;
    position: absolute;
    left: 140px;
    top: 100px;
    padding-left: 40px;
    padding-right: 46px;
    padding-top:10px ;
    padding-bottom:10px;
    margin-left: 40px;
    margin-right: 10px;

    background-color: teal;
    color: white;


}

.aside{
    padding:10px;
}

.Image{
   margin-left: 160px;
   margin-bottom: 20px;

}
}
.header{
    text-align: center !important;
}